.header{
    height: 10vh;
    background-color: #303034;
    color: white;
    z-index: 1;
}

.side-navbar-hover{
  position: fixed;
  top: 0;
  right: 0vh;
  width: 20%;
  height: 100vh;
}

.side-navbar{
  position: fixed;
  top: 0;
  right: 0vh;
  width: 20%;
  height: 100vh;
  background-color: #303034;
  text-align: center;
  transition: all 1s ease-in-out;
  z-index: 5;
}

.side-navbar-transform{
  transform: translateX(-50vh);
}

.dropdown-hover-dark:hover{
  color: #303034;
  background-color: #DFE0E2;
}

.dropdown-hover-light:hover{
  color: #DFE0E2;
  background-color: #575757;
}

.linked{
  text-decoration: none;
  cursor: pointer;
}