.header{
    height: 10vh;
    background-color: #303034;
    color: white;
}

.side-navbar-hover{
  position: fixed;
  top: 0;
  right: 0vh;
  width: 20%;
  height: 100vh;
}

.side-navbar{
  position: fixed;
  top: 0;
  right: 0vh;
  width: 20%;
  height: 100vh;
  background-color: #303034;
  text-align: center;
  transition: all 1s ease-in-out;
}

.side-navbar-transform{
  transform: translateX(-50vh);
}